<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 pt-3 border-right">
           <div class=" text-center">
            <p>
                “He tried to read an elementary economics text; it bored him past endurance, it was like listening to somebody interminably recounting a long and stupid dream. He could not force himself to understand how banks functioned and so forth, because all the operations of capitalism were as meaningless to him as the rites of a primitive religion, as barbaric, as elaborate, and as unnecessary. In a human sacrifice to deity there might be at least a mistaken and terrible beauty; in the rites of the moneychangers, where greed, laziness, and envy were assumed to move all men's acts, even the terrible became banal.”</p>
           </div>
        </div>
        <div class="col-md-4">
            <img src="../../assets/download (1).png" alt="" class="img-fluid">
         </div>
        <div class="col-md-6 pt-3">
            <div class="">
              
                <div class="container">
                    <img src="../../assets/download.png" alt="Avatar" class="image">
                    <div class="overlay">
                      <div class="text">Hello World</div>
                    </div>
                  </div>
            </div>
        </div>
        <div class="col-md-6 border-top pt-3">
            <div class=" pt-2" style="padding:10px">
                <p>“Do you understand what I'm saying?"
                    shouted Moist. "You can't just go around killing people!"
                    "Why Not? You Do." The golem lowered his arm.
                    "What?" snapped Moist. "I do not! Who told you that?"
                    "I Worked It Out. You Have Killed Two Point Three Three Eight People," said the golem calmly.
                    "I have never laid a finger on anyone in my life, Mr Pump. I may be–– all the things you know I am, but I am not a killer! I have never so much as drawn a sword!"
                    "No, You Have Not. But You Have Stolen, Embezzled, Defrauded And Swindled Without Discrimination, Mr Lipvig. You Have Ruined Businesses And Destroyed Jobs. When Banks Fail, It Is Seldom Bankers Who Starve. Your Actions Have Taken Money From Those Who Had Little Enough To Begin With. In A Myriad Small Ways You Have Hastened The Deaths Of Many. You Do Not Know Them. You Did Not See Them Bleed. But You Snatched Bread From Their Mouths And Tore Clothes From Their Backs. For Sport, Mr Lipvig. For Sport. For The Joy Of The Game.”
                    ― Terry Pratchett, Going Postal</p>
            </div>
        </div>
    </div>
</div>
